<!--
<div class="d-flex justify-content-between">
</div>
-->

<div class="border-start folder">
    <div class="btn-group me-3">
        <button (click)="actions('show-content')" class="btn btn-sm btn-outline-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-90deg-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M4.854 14.854a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V3.5A2.5 2.5 0 0 1 6.5 1h8a.5.5 0 0 1 0 1h-8A1.5 1.5 0 0 0 5 3.5v9.793l3.146-3.147a.5.5 0 0 1 .708.708z" />
            </svg>
        </button>
        <div class="btn-group">
            <button class="btn btn-sm btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
            </button>
            <ul class="dropdown-menu">
                <li>
                    <button (click)="actions('add-file')" class="dropdown-item" type="button">
                        agregar archivo
                    </button>
                </li>
                <li>
                    <button (click)="actions('add-folder')" class="dropdown-item" type="button">
                        agregar carpeta
                    </button>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <button class="dropdown-item" type="button">copiar</button>
                </li>
                <li>
                    <button class="dropdown-item" type="button">mover</button>
                </li>
                <li>
                    <button (click)="actions('delete')" class="dropdown-item" type="button">
                        eliminar
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <span class="align-middle border-bottom">{{dataFolder?.name}}</span>
    @if(flagAddFile){
    <div class="input-group input-group-sm m-3">
        <input type="file" accept=".png,.jpg,.txt,.html" (change)="setFile($event)" class="form-control form-control-sm"
            aria-describedby="flagAddText" aria-label="Upload">
        <button type="button" (click)="addFile()" class="btn btn-outline-secondary" id="flagAddText">AGREGAR
            ARCHIVO</button>
    </div>
    }
    @if(flagAddFolder){
    <div class="input-group input-group-sm m-3">
        <input type="text" [(ngModel)]="dataAddFolder.name" class="form-control form-control-sm"
            placeholder="nombre para la carpeta" aria-describedby="flagAddFolder">
        <!--span  class="input-group-text" id="flagAddFolder">AGREGAR CARPETA</span-->
        <button (click)="addFolder()" class="btn btn-outline-secondary" type="button" id="flagAddFolder">
            AGREGAR CARPETA
        </button>
    </div>
    }
    @if(flagAddText){
    <!--textarea class="form-control" placeholder="" id="floatingTextarea"></textarea-->
    }
    @if(flagShowContent){
    <ul>
        @for (folder of dataFolder?.folders; track folder) {
        <li><gf-folder [_id]="folder"></gf-folder></li>
        }
        @for (file of dataFolder?.files; track file) {
        <li><gf-file [_id]="file"></gf-file></li>
        }
    </ul>
    }
</div>