<!--
<div class="d-flex justify-content-between">
</div>
-->

<div class="border-start folder">
    <div class="btn-group me-3">
        <button (click)="actions('show-content')" class="btn btn-sm btn-outline-light">VER</button>
        <div class="btn-group">
            <button class="btn btn-sm btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
            </button>
            <ul class="dropdown-menu">
                <li>
                    <button (click)="actions('add-file')" class="dropdown-item" type="button">
                        agregar archivo
                    </button>
                </li>
                <li>
                    <button (click)="actions('add-folder')" class="dropdown-item" type="button">
                        agregar carpeta
                    </button>
                </li>
                <li>
                    <button (click)="actions('add-text')" class="dropdown-item" type="button">
                        agregar texto
                    </button>
                </li>
                <li>
                    <button class="dropdown-item" type="button">
                        agregar imagen
                    </button>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <button class="dropdown-item" type="button">copiar</button>
                </li>
                <li>
                    <button class="dropdown-item" type="button">mover</button>
                </li>
                <li>
                    <button (click)="actions('delete')" class="dropdown-item" type="button">
                        eliminar
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <span class="align-middle border-bottom">{{dataFolder?.name}}</span>
    @if(flagAddFile){
    <div class="input-group input-group-sm m-3">
        <input type="file" accept=".png,.jpg,.txt,.html" (change)="setFile($event)" class="form-control form-control-sm"
            aria-describedby="flagAddText" aria-label="Upload">
        <button type="button" (click)="addFile()" class="btn btn-outline-secondary" id="flagAddText">AGREGAR ARCHIVO</button>
    </div>
    }
    @if(flagAddFolder){
    <div class="input-group input-group-sm m-3">
        <input type="text" [(ngModel)]="dataAddFolder.name" class="form-control form-control-sm"
            placeholder="nombre para la carpeta" aria-describedby="flagAddFolder">
        <!--span  class="input-group-text" id="flagAddFolder">AGREGAR CARPETA</span-->
        <button (click)="addFolder()" class="btn btn-outline-secondary" type="button" id="flagAddFolder">
            AGREGAR CARPETA
        </button>
    </div>
    }
    @if(flagAddText){
    <!--textarea class="form-control" placeholder="" id="floatingTextarea"></textarea-->
    }
    @if(flagShowContent){
    <ul>
        @for (folder of dataFolder?.folders; track folder) {
        <li><gf-folder [_id]="folder"></gf-folder></li>
        }
        @for (file of dataFolder?.files; track file) {
        <li>{{file}}</li>
        }
    </ul>
    }
</div>